@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700);


*{
	margin: 0;
	padding: 0;
}

html{
	background: #000 url(../images/background-2.jpg) no-repeat center center fixed;
	background-size: cover;
	height: auto;
}

/*  Navigation  */

nav{
	width: 100%;
	height: 30px;
	background-color: rgba(255, 255, 255, .10);
}
nav ul{
	list-style-type: none;
}

nav ul li{
	display: inline-block;
	margin-right: 10px;
	margin-top: 5px;
	float: right;
	font-size: 18px;
}
nav ul li a{
	color: #262626;
	transition: .25s all linear;
}

nav ul li a:hover{
	color: rgba(255, 255, 255, 1);
}

/*  heading  */

.main-heading{
	font-family:'Oswald', sans-serif;";
	font-weight: 400;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: 30px;
}
#main-title img{
	width: 700px;
	margin-top: 0 auto;
}



/*  Buttons  */

.button-container{
	width: 80%;
	height: 150px;
	margin: 140px auto;
	text-align: center;

}

.button-1{
	display: inline-block;
	list-style-type: none;
	text-transform: uppercase;

	
	width: 150px;
	height: 40px;
	line-height: 40px;
	margin: 10px;


}
.button-1 a{
	display: block;
	text-decoration: none;

	font-family: "Roboto Condensed";
	font-weight: 300;
	font-size: 14px;
	color: #fff;
	background-color: rgba(255, 255, 255, .3);

	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, .7);

	transition: .25s all linear;
}
.button-1 a:hover{
	background-color: rgba(255, 255, 255, .5);
	border: 1px solid rgba(255, 255, 255, .9);
}


/**************************************************
               BLOG SECTION
***************************************************/   

h2, h4{
	font-family: "Open Sans";
	font-weight: 700; 
	color: #000;
}
p{
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 14px;
	margin-bottom: 10px;
}
p:last-child{
	margin-bottom: 0px;
}
.blog-heading{
	
	font-size: 34px;
	color: #000;
}

.time{
	margin-bottom: 15px;
	font-weight: 400;
	font-style: italic;
}

.container{
	width: 700px;
	margin: 100px auto 150px;
}

.container img{
	display: block;
	width: 330px;
	margin: 0 auto;

}

.blog-card{
	background-color: rgba(255, 255, 255, .6);
	margin: 15px auto;
	padding: 40px;
}
